#root {
  margin: 0 auto;
  overflow: auto;
  max-height: 100vh;
}
#root::-webkit-scrollbar {
  display: none;
}
.App {
  background-color: #0a192f;
  color: #ccd6f6;
  font-family: cursive;

  /* @apply; */
}
.main::-webkit-scrollbar {
  display: none;
}

.Link {
  font-size: 1.2rem;
  @apply my-[1rem] lg:my-[2rem] mx-[0.85rem]  lg:ml-0 text-left md:ml-[40%];
}
.mikailPicture {
  @apply w-[100%] lg:w-[80%] mt-[20%] flex  flex-col justify-center ml-[5%];
}
.mikailPicture p {
  @apply border-[2px] border-[white]  ml-[13%] w-[77%]  lg:w-[100%] md:w-[40vw] md:h-[45vh] rounded-[5px] h-[40vh];
}
.mikailPicturelgscreen p {
  @apply border-[2px] border-[#c785d8]  ml-[15%] w-[77%]  md:w-[40vw] md:h-[45vh] rounded-[5px] h-[40vh] text-[transparent];
}
.mikailPicture img {
  @apply rounded-[5px] w-[80%] md:w-[40vw] h-[40vh] md:h-[45vh] relative z-[1] md:top-[-264px] object-cover top-[-234px] md:ml-[7%];
}

.LinkCollection {
  background-color: #0a192f;
  @apply hidden lg:flex flex-row  justify-between w-[100%] z-[2] p-[1rem] fixed top-0;
}

.Home_Aside {
  @apply flex  flex-col lg:w-[80%] mt-[10%]  lg:mt-[10rem] lg:ml-[8.7%];
}
.p {
  font-size: 2rem;
  font-weight: 200;
  font-style: italic;
  line-height: 2.5rem;
}
.division {
  width: 100%;
  height: 100vh;
  background-color: pink;
}

.media img,
.boder {
  @apply flex flex-col;
}

.media img:hover {
  animation: spin 1s infinite ease-in-out;
}
@keyframes spin {
  0% {
    transform: rotateX(360deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
.borda {
  border-left: 2px solid gray;
}
.hidden {
  display: none;
}
.mail:hover + .hidden {
  display: inline-flex;
  gap: 5rem;
  background-color: aqua;
  border: 1px solid white;
  color: white;
  width: 3rem;
}

.author {
  width: 28rem;
  height: 45vh;
  border-radius: 10px;
  image-rendering: smooth;
}

.mikail-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.mikail:hover .mikail-inner {
  box-shadow: 2px, 1px, 6px 2px white;
  transform: rotateY(180deg);
}

.mikail-front,
.mikail-back {
  position: absolute;
  width: 35rem;
  height: 70vh;
  margin-left: 4rem;
  perspective: 100px;
  backface-visibility: hidden;
}

.mikail-front {
  background-color: #321f56;
  width: 18rem;
  height: 45vh;
  border-radius: 30px;
  perspective: 1000px;
  color: black;
}

.mikail-back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transrant;
  line-height: 2rem;
  color: white;
  width: 18rem;
  height: 45vh;
  border-radius: 5px;
  perspective: 1000px;
  transform: rotateY(180deg);
}
.italic {
  letter-spacing: 10px;
  box-shadow: 4px 4px #ccd6f6;
  border-color: transparent;
  color: #ccd6f6;
}
.media {
  @apply hidden  lg:flex flex-col justify-center  lg:fixed;
}
.boder {
  border-left: 1px solid lightgray;
  height: 10rem;
}
.line {
  border-top: 2px solid gray;
  @apply hidden lg:flex lg:w-[15rem] m-[15px];
}
.title {
  @apply text-[2rem];
}
.portfolio {
  @apply flex  flex-col justify-center  items-center;
}
.portfolio .div {
  @apply w-[98%]  flex  lg:flex-row;
}
@media screen and (max-width: 992px) {
  .portfolio div {
    @apply flex  flex-col justify-center items-center;
  }
}
.div div {
  @apply gap-[0.5rem];
}
.you {
  @apply w-[100%] lg:w-[100%] py-[1rem] lg:px-[1.5rem] relative z-[1] px-[1rem] lg:mt-[2rem] leading-[1.8rem] rounded-[5px] text-[#0a192f] bg-[#ccd6f6];
}
.Engr p {
  line-height: 2rem;
}
.emailside {
  position: absolute;
  @apply mt-[5rem] ml-[85%] h-[100%];
}
.pillar {
  border-left: 2px solid gray;
  height: 30vh;
}
.transformText {
  transform: rotate(90deg);
}
.aTransform {
  width: 1rem;
  margin-left: 8rem;
}

.aTransform:hover {
  animation: 3s Marginalize infinite ease-in-out;
  animation-iteration-count: 1;
}
@keyframes Marginalize {
  0% {
    margin-top: 0.5rem;
  }
  100% {
    margin-top: 5rem;
  }
}
.frameworks {
  @apply w-[2rem] flex  flex-col ml-[7.5rem]  gap-4;
}
.frameworks img:hover {
  @apply animate-ping;
}
.react {
  animation: 5s role infinite ease-in-out;
}
@keyframes role {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#contact button {
  border: 1px solid white;
  padding: 0.75rem;
  border-radius: 5px;
}
.getInt {
  transition: 0.75s all ease-in-out;
}
.socialMedias {
  @apply w-[2rem] m-3 ml-[18%];
}
.projects {
  @apply flex flex-col justify-center items-center lg:grid  lg:grid-cols-3 md:grid md:grid-cols-2 md:gap-[1rem]  gap-8;
}
.project {
  box-shadow: 1px 1px 2px 1px black;
  /* background-color: white; */
  background-color: #0a192f;
  border-radius: 5px;
  @apply w-[90%] lg:w-[100%] h-[60vh];
}
.project:hover {
  cursor: pointer;
  transition: 1s ease-in-out;
  @apply scale-105;
}
