#root {
  margin: 0 auto;
  overflow: auto;
  max-height: 100vh;
}
#root::-webkit-scrollbar {
  display: none;
}
.App {
  background-color: #0a192f;
  color: #ccd6f6;
  font-family: "Clash Display";

  /* @apply; */
}
.main::-webkit-scrollbar {
  display: none;
}

.Link {
  font-size: 1.2rem;
  @apply my-[1rem] lg:my-[2rem] mx-[0.85rem]  lg:ml-0 text-left md:ml-[40%];
}
.mikailPicture {
  @apply w-[100%] lg:mt-[20%] flex  flex-col justify-center;
}
.mikailPicture p {
  @apply border-[2px] border-[white] w-[100%]  lg:w-[100%] md:w-[40vw] md:h-[45vh] rounded-[5px] h-[40vh];
}
.mikailPicturelgscreen p {
  @apply border-[2px] border-[#c785d8]  ml-[15%] w-[77%]  md:w-[40vw] md:h-[45vh] rounded-[5px] h-[40vh] text-[transparent];
}
.mikailPicture img {
  @apply rounded-[5px] md:w-[40vw] h-[40vh] md:h-[45vh] relative z-[1] md:top-[-264px] object-cover lg:top-[-254px] md:ml-[7%] mb-[15%] lg:mb-[1%];
}

.LinkCollection {
  background-color: rgba(0, 0, 0, 0.5);
  @apply hidden lg:flex flex-row  justify-between w-[100%] z-[2] p-[1rem] fixed top-0;
}

.Home_Aside {
  @apply flex  flex-col justify-center  items-center mt-[5%]  lg:mt-[10%];
}
.p {
  font-size: 2rem;
  font-weight: 200;
  /* font-style: italic; */
  line-height: 2.5rem;
}
.division {
  width: 100%;
  height: 100vh;
  background-color: pink;
}

.Media a:hover {
  @apply flex flex-col justify-center items-center w-[55px] h-[55px] rounded-[100px] scale-150;
}

.media img:hover {
  animation: spin 1s infinite ease-in-out;
}
@keyframes spin {
  0% {
    transform: rotateX(360deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

.hidden {
  display: none;
}
.mail:hover + .hidden {
  display: inline-flex;
  gap: 5rem;
  background-color: aqua;
  border: 1px solid white;
  color: white;
  width: 3rem;
}

.mikail-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.mikail:hover .mikail-inner {
  box-shadow: 2px, 1px, 6px 2px white;
  transform: rotateY(180deg);
}
.italic {
  letter-spacing: 10px;
  box-shadow: 4px 4px #ccd6f6;
  border-color: transparent;
  color: #ccd6f6;
}

.line {
  border-top: 2px solid gray;
  @apply hidden lg:flex lg:w-[15rem] m-[15px];
}
.title {
  @apply text-[2rem];
}
.portfolio {
  @apply flex  flex-col justify-center  items-center;
}
.portfolio .div {
  @apply w-[100%]  flex  lg:flex-row;
}
@media screen and (max-width: 992px) {
  .portfolio div {
    @apply flex  flex-col w-[100%];
  }
}
.div div {
  @apply gap-[0.5rem];
}
.you {
  @apply w-[100%] lg:w-[100%] py-[1rem] lg:px-[1.5rem] relative z-[1] px-[1rem] lg:mt-[2rem] leading-[1.8rem] rounded-[5px] text-[#0a192f] bg-[#ccd6f6];
}
.Engr p {
  line-height: 2rem;
}
.emailside {
  position: absolute;
  @apply mt-[5rem] ml-[85%] h-[100%];
}
.pillar {
  border-left: 2px solid gray;
  height: 30vh;
}
.transformText {
  transform: rotate(90deg);
}
.aTransform {
  width: 1rem;
  margin-left: 8rem;
}

.aTransform:hover {
  animation: 3s Marginalize infinite ease-in-out;
  animation-iteration-count: 1;
}
@keyframes Marginalize {
  0% {
    margin-top: 0.5rem;
  }
  100% {
    margin-top: 5rem;
  }
}
.frameworks {
  @apply w-[2rem] flex  flex-col ml-[7.5rem]  gap-4;
}
.frameworks img:hover {
  @apply animate-ping;
}
.react {
  animation: 5s role infinite ease-in-out;
}
@keyframes role {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#contact button {
  border: 1px solid white;
  padding: 0.75rem;
  border-radius: 5px;
}
.getInt {
  transition: 0.75s all ease-in-out;
}
.socialMedias {
  @apply w-[2rem];
}
.projects {
  @apply flex flex-col justify-center items-center lg:grid  lg:grid-cols-2 md:grid md:grid-cols-2 md:gap-[1rem]  gap-8;
}
.skills {
  @apply flex flex-col justify-center items-center lg:grid  lg:grid-cols-5 md:grid md:grid-cols-2 md:gap-[1rem]  gap-8;
}
.project {
  box-shadow: 1px 1px 2px 1px black;
  background-color: #0a192f;
  border-radius: 5px;
  @apply w-[90%] lg:w-[100%] h-[40vh] lg:h-[50vh] object-cover;
}
.skill {
  box-shadow: 1px 1px 2px 1px black;
  background-color: #0a192f;
  border-radius: 5px;
  @apply w-[100%] flex  flex-row justify-around items-center p-[5%];
}
.project:hover,
.skill:hover {
  cursor: pointer;
  transition: 1s ease-in-out;
  @apply scale-105;
}
.bgProfile {
  background-image: url("./assets/online-school-equipment-home.jpg");
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.projectBg {
  background-image: url("./assets/react.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
}
.overlayProject:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
